.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body {
    background-color: #028f76;
    border-radius: 8px;
    padding: 5px;
}
.screen {
    display: flex;
    align-items: flex-start;
    width: 170px;
    border: 1px solid black;
    background-color: #ffeaad;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
}
.arrayScreen {
    background-color: #d14334;
}
p {
    display: flex;
    justify-content: flex-end;
}
button {
    background-color: #1c2130;
    color: #ffeaad;
    width: 40px;
    height: 30px;
    margin: 1px;
    border-radius: 8px;
}

button:hover {
    background-color: #d14334;
}

.equals:hover {
    background-color: #6c5b7b;
}